<div class="container-fluid rhythm-general">
    <div class="container rhythm">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <img src="./../../../assets/imagenes/avance-rapido.png" class="img-fluid rhythm-logo mt-2 mb-2" alt="logoMusica">
            </div>
            <div class="col-6 justify-content-around d-flex align-items-center">
                <h5 class="d-inline-block" [routerLink]="['/']">Inicio</h5>
                <h5 class="d-inline-block" [routerLink]="['/cantantes']">Cantantes</h5>
                <h5 class="d-inline-block" [routerLink]="['/playlist']">Playlist</h5>
            </div>
        </div>
    </div>
</div>