@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Hanken+Grotesk:wght@100&family=Monoton&family=Permanent+Marker&family=Righteous&display=swap');

.material-icons{
  font-family: 'Material Icons' !important;
}

.rhythm {
  min-height: 80vh;

  &-inicio {
    background-color: #f1da9adb;
    min-height: 70vh;
  }

  &-generosMusic{
    min-height: 20vw;
    background-color: #dec88edb;
  }


  &-slide {
    min-height: 20vw;
    background-image: url('./../../../assets/imagenes/monaco_-_31663-_Original_.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    filter: grayscale(0.3);
    &-album{
      transition: all 0.8s ease;
      border-radius: 3px;
      &:hover{
        filter: grayscale(0.8);
        transition: all 0.6s ease;
        cursor: pointer;
      }
    }

    &-Omega{
      font-family: 'Monoton', cursive;
      color: white;
      font-size: 110px;
    }

    &-titulo{
      font-family: 'Asap Condensed', sans-serif;
      font-size: 50px;
      color: white;
    }
  }

  &-quevedo {
    background-image: url('./../../../assets/imagenes/quevedopng.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &-titulo {
    background-color: black;
    color: #f1da9adb;
    font-size: 65px;
  }

  &-boton {
    background-color: #f1da9adb;
    border: 3px solid black;
    font-size: 18px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &-logoAlbum {
    border-radius: 10px;
  }
}

.card:hover{
  transition: transform 2s ease-in-out;
  transform: rotate(360deg);
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  cursor: inherit;
  border: none;
  padding: 0;
  font: inherit;
}

::ng-deep .mat-mdc-raised-button{
  background-color: #f1da9af1 !important;
}

.carrusel{
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;
}
.carrusel::-webkit-scrollbar{
  -webkit-appearance: none;
}

.carrusel::-webkit-scrollbar-thumb {
  background-color: #7a7878;
  border-radius: 20px;
  border: 1px;
}

.carrusel::-webkit-scrollbar:horizontal {
  height: 5px;
}

.carrusel::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.elemento{
  position: relative;
  display: inline-block;
  flex: 1 0 auto;
  margin: 0 50px;
  width: 300px;
  height: 300px;
}
.elemento .botones{
  position: absolute;
  top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s ease;
}

.elemento:hover .botones {
  opacity: 1;
}   

.elemento .botones button {
  margin: .5em;
}