<div class="container-fluid rhythm">
    <div class="row rhythm-inicio">
        <div class="col-6 d-flex align-items-center justify-content-center flex-column gap-5 mt-2 pb-4">
            <div>
                <span class="rhythm-titulo">NEW</span>
                <span class="rhythm-titulo d-block">ALBUM</span>
            </div>
            <img src="{{infoQuevedoMain[0]?.images[0]?.url}}" class="w-50 rhythm-logoAlbum" alt="albumquevedo">
            <button class="mx-auto p-3 text-center rhythm-boton"><a [href]="this.infoQuevedoMain[0]?.uri">ESCUCHAR
                    YA!</a></button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center mt-2 rhythm-quevedo">

        </div>
    </div>
    <div class="row rhythm-slide">
        <div class="text-center d-flex justify-content-around align-items-center">
            <h1 class="rhythm-slide-Omega ms-5">Omega <br>el<br>'Fuerte'</h1>
            <div class="w-50 container text-center my-3">
                <h2 class="rhythm-slide-titulo text-center mb-5">¿Por qué elegir OMEGA?</h2>
                <div class="row mx-auto my-auto justify-content-center">
                    <div class="carrusel ms-2">
                        <div class="elemento" *ngFor="let informacion of this.infoOmega">
                            <a href="{{informacion.uri}}"><img class="rhythm-slide-album"
                                    src="{{informacion.album.images[1].url}}"/></a>
                            <div class="botones">
                                    <button mat-raised-button id="audios" (click)="this.playMusic(informacion.preview_url)">Preview</button>
                                    <a href="{{informacion.uri}}"><button mat-raised-button class="rhythm-botonSpotify"> Spotify</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./../../../assets/imagenes/artworks-fUAjJwMNdYwfWLeS-7HQriA-t500x500-removebg-preview.png"
                class="img-fluid w-25" alt="Omega el Fuerte">
        </div>
    </div>
    <div class="row rhythm-generosMusic">
        <div class="col-12">
            <h1 class="text-center mt-5">¡HECHA UN VISTAZO A ESTOS GÉNEROS MUSICALES!</h1>
        </div>
        <div class="col-12 row">
            <div data-aos="flip-up" class="col-4 mt-4 mb-4 d-flex justify-content-center"
                *ngFor="let informacion of this.arraiInfoGeneros">
                <mat-card>
                    <img  src="{{informacion[1][0]?.album?.images[1]?.url}}" alt="imagenesGéneros">
                    <mat-card-content>
                        <h5 class="text-center mt-2">{{informacion[0].nombre | titlecase}}</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>