<div class="container-fluid rhythm">
    <div class="row rhythm-inicio">
        <div class="col-6 d-flex align-items-center justify-content-center flex-column gap-5 mt-2 pb-4">
            <div>
                <span class="rhythm-titulo">NEW</span>
                <span class="rhythm-titulo d-block">ALBUM</span>
            </div>
            <img src="{{infoQuevedoMain[0]?.data?.images?.items[0]?.sources[0]?.url}}" class="w-50 rhythm-logoAlbum"
                alt="albumquevedo">
            <button class="mx-auto p-3 text-center rhythm-boton"><a [href]="infoQuevedoMain[0]?.data.uri">ESCUCHAR
                    YA!</a></button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center mt-2 rhythm-quevedo">

        </div>
    </div>
    <div class="row rhythm-slide ">
        <div class="text-center d-flex justify-content-around align-items-center">
            <h1 class="rhythm-slide-Omega ms-1">Omega <br>el<br>'Fuerte'</h1>
            <div class="w-50 container text-center my-3">
                <h2 class="rhythm-slide-titulo text-center mb-5">¿Por qué elegir OMEGA?</h2>
                <div class="row mx-auto my-auto justify-content-center">
                    <div class="carrusel">
                        <div class="elemento" *ngFor="let informacion of this.infoOmega">
                            <a href="{{informacion.data.uri}}"><img class="rhythm-slide-album" src="{{informacion.data.albumOfTrack.coverArt.sources[0].url}}"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./../../../assets/imagenes/artworks-fUAjJwMNdYwfWLeS-7HQriA-t500x500-removebg-preview.png"
                class="img-fluid w-25" alt="Omega el Fuerte">
        </div>
    </div>
</div>