<div class="container">
    <h1 class="text-center mb-5">Políticas de Cookies</h1>
    <div class="d-flex justify-content-center">
        <img src="./../../../../assets/imagenes/avance-rapido.png" class="img-fluid rhythm-img" alt="">
    </div>
    <h5>
        Esta página web puede utilizar los siguientes tipos de cookies:
    </h5>
    <h6>
        Cookies técnicas: Son aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales. <br>
        Cookies analíticas: Son aquellas que permiten al responsable de las mismas el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio. <br>
        Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios. <br>
        Cookies sociales: Son establecidas por las plataformas sociales en los servicios para permitirle compartir contenido con sus amigos y redes. Las plataformas sociales tienen la capacidad para rastrear su actividad online fuera del servicio. Esto puede afectar al contenido y mensajes que vea en otros servicios que visita. <br>
    </h6><br>

    <h5>¿Cómo desactivar o eliminar las cookies?</h5>
    <h6 class="mb-5">
        Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.<br>
        
        En los siguientes enlaces encontrará información sobre cómo configurar sus preferencias sobre las cookies en los principales navegadores:<br>
        <a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a><br>
        <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank">Mozilla Firefox</a><br>
        <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookiess" target="_blank">Internet Explorer</a><br>
        <a href="https://support.apple.com/kb/ph5042?locale=es_ES" target="_blank">Safari</a><br>
        <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html" target="_blank">Opera</a><br>
    </h6>
</div>
